.app-link {
  font-size: var(--size-text-m);
  line-height: var(--line-height-text-m);
  text-decoration: none;
  transition: .3s ease;

  &:hover {
    color: var(--color-typo-link-hover);
  }
}

.primary {
  color: var(--color-typo-link);
}

.secondary {
  color: var(--color-typo-link-minor);
}
